* { margin: 0; padding: 0; }
/*--------------------------------------------
Global Styles
---------------------------------------------*/
body {
	background: #1e1e1e;
	color: #fff;	
	font:normal 14px/11px trebuchet ms, sans-serif;
}
div.container { width: 960px; margin: 0 auto;}

a, a.link, a.vlink {
	color:#fed205;
	text-decoration:none;
}
/*--------------------------------------------
Nav Styles
---------------------------------------------*/
nav {
	padding:8px 0px 22px 0px;
	margin:0 0 4px 0;
	width:100%;
	height:60px;
	background:#b3b3b3;
	text-align:center;
	line-height:60px;
}

#good {
	width:100%;
	padding:0 0 0 5px;
	overflow:hidden;
}
	
#totalcount {
	float:left;
	margin:0 0 0 15px;
	background:#000;
	width:134px;
	height:60px;
	position:relative;
	display:inline-block;
}

#badcount {
	float:right;
	margin:0 15px 0 0;
	background:#500;
	width:134px;
	height:60px;
	position:relative;
	display:inline-block;
}

div.status{
	width:64px;
	position:relative;
}

div.goodButton {
	float:none;
	width:64px;
	height:64px;
	padding: 0 0 0 0;
	background: url("../images/allGood.png") top left no-repeat;
	position:relative;
	display:inline-block;
}

div.badButton {
	float:none;
	width:64px;
	height:64px;
	padding: 0 0 0 0;
	background: url("../images/evilFound.png") top left no-repeat;
	position:relative;
	display:inline-block;
}

div.startButton {
	top:-5px;
	float:none;
	width:64px;
	height:64px;
	padding: 0 0 0 0;
	background: url("../images/startButton.png") top left no-repeat;
	position:relative;
	display:inline-block;
}

div.startButton:hover {
	width:64px;
	height:64px;
	background: url("../images/startButton.png") top left no-repeat;
	background-position: 0 -64px;
	position:relative;
}

.square {
	float:none;
	width:32px;
	height:32px;
	padding: 0 0 0 0;
	background: url("../images/squares32.gif") top left no-repeat;
	position:relative;
	display:inline-block;
}

.square:hover {
	width:32px;
	height:32px;
	background: url("../images/squares32.gif") top left no-repeat;
	background-position: 0 -32px;
	position:relative;	
}

.borked 	{
	position:relative; 
	left:-30px; 
	top:-30px; 
	z-index:99999;
	}

#bad_name {
	color:#F00;
	margin:10px;
	height:60px;
}

.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index:9999999999;
  margin-left: 0;
  width: 120px;
  overflow:hidden;
}
.tooltip:hover img {
  border: 0;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }

.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }


/*--------------------------------------------
Utilities
---------------------------------------------*/
img { border: none; }
a { outline: none; -moz-outline: none; }